name: NeuroGuard CI
on: [push]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Bootstrap
        run: make bootstrap
      - name: Run Tests
        run: make test